@page
@model PRN221_Project.Pages.ForgotPasswordModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Quên mật khẩu";
}

<form class="login100-form validate-form">
    <span class="login100-form-title p-b-49">
        Quên mật khẩu
    </span>

    <div class="wrap-input100 validate-input m-b-23" data-validate = "Điền họ là bắt buộc">
        <span class="label-input100">Họ</span>
        <input class="input100" type="text" name="firstname" placeholder="Loại là text">
        <span class="focus-input100" data-symbol="&#xf206;"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-23" data-validate = "Điền tên là bắt buộc">
        <span class="label-input100">Tên</span>
        <input class="input100" type="text" name="lastname" placeholder="Loại là text">
        <span class="focus-input100" data-symbol="&#xf206;"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-23" data-validate = "Điền địa chỉ là bắt buộc">
        <span class="label-input100">Địa chỉ</span>
        <input class="input100" type="text" name="address" placeholder="Loại là text">
        <span class="focus-input100" data-symbol="&#xf206;"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-23" data-validate = "Điền tên tài khoản là bắt buộc">
        <span class="label-input100">Tên tài khoản</span>
        <input class="input100" type="text" name="username" placeholder="Loại là text">
        <span class="focus-input100" data-symbol="&#xf206;"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-23" data-validate = "Điền email là bắt buộc">
        <span class="label-input100">Email</span>
        <input class="input100" type="text" name="email" placeholder="Loại là email">
        <span class="focus-input100" data-symbol="&#xf206;"></span>
    </div>

    <div class="container-login100-form-btn p-t-30">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
                Tìm mật khẩu
            </button>
        </div>
    </div>

    <div class="flex-col-c p-t-20">
        <span class="txt1 p-b-17">
            Đã nhớ tài khoản?
        </span>

        <a href="Login" class="txt2">
            Đăng nhập
        </a>
    </div>
</form>

