<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title  -->
    <title>@ViewData["Title"] - YourMeal</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/duyen/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/duyen/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/duyen/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/duyen/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/duyen/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/duyen/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/duyen/vendor/bootstrap/js/popper.js"></script>
    <script src="~/duyen/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/duyen/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/duyen/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/duyen/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/duyen/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/duyen/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>