@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email";
}
<div class="products-catagories-area section-padding-100 clearfix">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>